{% extends 'base.html' %} {% block title %}Persona details{% endblock title %}
{% block content %}
<a href="{% url 'url_list' %}">Retour à la liste</a>
<ul>
  <img src"{{ person_details.picture }}" alt="{{ person_details.picture }}"/>
  <li>First_name : {{ person_details.first_name }}</li>
  <li>Name : {{ person_details.last_name }}</li>
  <li>Adress street : {{ person_details.address_street }}</li>
  <li>Adress number : {{ person_details.address_number }}</li>
  <li>City : {{ person_details.city }}</li>
  <li>Country : {{ person_details.country }}</li>
  <li>Postcode : {{ person_details.postcode }}</li>
  <li>Email : {{ person_details.email }}</li>
  <li>Username : {{ person_details.username }}</li>
  <li>Password : {{ person_details.password }}</li>
  <li>Age : {{ person_details.age }}</li>
</ul>
{% endblock content %}
